---
import themeConfig from '@theme-config'
import { Link } from 'accessible-astro-components'
import { Icon } from 'astro-icon/components'

/**
 * Navigation Items Component
 * * @description excludeFromLauncher 속성을 사용하여 GNB 메뉴 노출 여부를 제어합니다.
 */

// 1. 테마 공식 속성인 excludeFromLauncher를 기준으로 필터링합니다.
// as any[]를 사용하여 타입 유연성을 확보합니다.
const visibleItems = (themeConfig.navigation.items as any[]).filter(
  (item) => !item.excludeFromLauncher
)
---

<ul class="menu">
  {
    visibleItems.map((item) => (
      <li
        class={`menu-item ${item.type === 'dropdown' ? 'has-dropdown' : ''} ${item.icon ? 'type-icon animate-rotate' : ''}`}
      >
        {item.type === 'dropdown' ? (
          <button aria-haspopup="true" aria-expanded="false">
            {item.label}
            <Icon aria-hidden="true" name="lucide:chevron-down" size="32" />
          </button>
        ) : !item.type || item.type === 'link' ? (
          <Link href={item.href} isExternal={item.external ?? false} hideIcon={!!item.icon}>
            {item.icon ? (
              <>
                <Icon aria-hidden="true" name={item.icon} size="32" />
                <span class="sr-only">{item.label}</span>
              </>
            ) : (
              item.label
            )}
          </Link>
        ) : null}
        
        {item.type === 'dropdown' && (
          <ul class="dropdown-menu">
            {/* 하위 아이템 중에서도 제외 설정이 된 것이 있다면 필터링합니다. */}
            {(item.items as any[]).filter(sub => !sub.excludeFromLauncher).map((subItem) => (
              <li class="submenu-item">
                <Link href={subItem.href} isExternal={subItem.external ?? false}>
                  {subItem.label}
                </Link>
              </li>
            ))}
          </ul>
        )}
      </li>
    ))
  }
</ul>